body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1158px;
  width: 100%;
}

.section-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.section-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.header-logo-color {
  color: #2e2f42;
}

.header-menu-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-menu-link:active,
.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}

.header-contacts-link {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: #404bbf;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.header-menu {
  display: flex;
  gap: 40px;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-contacts-list {
  display: flex;
  gap: 40px;
}

.hero {
  background-color: #2e2f42;
  padding: 188px 0;
}

.hero .container {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  flex-shrink: 0; */
}

.hero-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.hero-button {
  background-color: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  display: block;
  margin: 0 auto;
}

.hero-button:focus,
.hero-button:hover {
  background-color: #404bbf;
}

.features {
  padding-top: 120px;
  padding-bottom: 120px;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  flex-basis: calc((100% - 72px) / 4);
  flex-shrink: 0;
}

.features-item-text {
  text-align: left;
}

.features-subtitle {
  text-align: left;
  margin-bottom: 8px;
}

.ourteam {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.ourteam-title {
  margin-bottom: 72px;
}

.ourteam-list {
  display: flex;
  gap: 24px;
}

.ourteam-item {
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.ourteam-item-container {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  background-color: #fff;
  padding-top: 32px;
  padding-bottom: 32px;
}

.ourteam-subtitle {
  margin-bottom: 8px;
  text-align: center;
}

.ourteam-item-text {
  text-align: center;
}

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-title {
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  flex-basis: calc((100% - 48px) / 3);
}

.portfoilo-item-container {
  padding: 32px 16px;
  width: 360px;
  border-right: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  
}

.portfolio-subtitle {
  margin-bottom: 8px;
}

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-logo {
  margin-bottom: 16px;
  display: inline-block;
}

.footer-logo-color {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  max-width: 264px;
}
